{% extends 'base.html' %}

{% block title %}Call of Duty{% endblock title %}

{% block body %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title> Teams | eSports Info</title>
  </head>



    <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">Player Name</th>
            <th scope="col">Team Name</th>
            <th scope="col">Email Address</th>
          </tr>
        </thead>
        {% for faceitReg in faceit2 %}
        <tbody>        
          <tr>
            <th scope="row">{{ faceitReg.pname }}</th>
            <td>{{ faceitReg.tname }}</td>
            <td>{{ faceitReg.femail }}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
      




{% endblock body %}