{% extends 'base.html' %}

{% block title %}CounterStrike{% endblock title %}

{% block body %}

<div class="container my-3">
<h1 class="my-4 text-center">CounterStrike | Tournaments Completed</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
        <img src="https://source.unsplash.com/1200x450/?Teams" class="d-block w-100" alt="...">
            
            <div class="card-body">
              <p class="card-text">Dream Hack</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form action="/dreamhack">
                    <input type="submit" value="View" />
                  </form>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://source.unsplash.com/1200x450/?Players" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">ESL</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form action="/esl">
                    <input type="submit" value="View" />
                  </form>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

      
    </div>
{% endblock body %}
